:root {
  --immediate-help-bg: #dde6ff;
  /* --follow-us-bg: rgba(228, 228, 228, 0.699); */
}

[data-theme="dark"] {
  --immediate-help-bg: #9da9d134;
}

.contact-section {
  background-color: var(--bg-main);
  transition: background-color 0.3s ease;
}

.sticky-form-wrapper {
  background-color: var(--bg-surface);
  position: sticky;
  top: 20%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.219);
}

.sticky-form-wrapper input:active,
.sticky-form-wrapper textarea:active,
.sticky-form-wrapper input:focus,
.sticky-form-wrapper textarea:focus {
  color: var(--text-primary);
}
.sticky-form-wrapper input::placeholder,
.sticky-form-wrapper textarea::placeholder {
  color: var(--text-primary);
  opacity: 0.7;
}

/* --- Scrollable Info Styling (Right Column) --- */

.info-section {
  background: var(--bg-surface);
  border-radius: 20px;
  padding: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
}
.contact-details {
  display: flex;
  flex-direction: column;
}
/* Info Card (Immediate Help) */
.info-card {
  background: var(--immediate-help-bg);
  border-left: 5px solid #4f46e5;
  padding: 30px;
  margin-bottom: 40px;
}
/*.info-card h5 { font-weight: 700; }
.info-card p { color: #6c757d; font-size: 0.95rem; } */
.info-card ul { padding-left: 20px; font-size: 0.9rem; color: #4338ca; }

.followText {
  background-color: var(--light-hover);
}

/* Social Links */
.social-links { display: flex; gap: 15px; }
.social-icon {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  background: var(--light-hover);
  cursor: pointer;
  color: #4f46e5;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-icon:first-child:hover {
  background-color: #4f46e5;
}
.social-icon:first-child:hover svg,
.social-icon:nth-child(2):hover svg,
.social-icon:nth-child(3):hover svg,
.social-icon:nth-child(4):hover svg,
.social-icon:nth-child(5):hover svg{
  fill: #fff;
}
.social-icon:nth-child(2):hover {
  background-color: #050a2b;
}
.social-icon:nth-child(3):hover {
  background-color: #ff66a6ff;
}
.social-icon:nth-child(4):hover {
  background-color: #4f46e5;
}
.social-icon:nth-child(5):hover {
  background-color: #ff1111ff;
}

/* --- Responsive Stacking for Mobile --- */
@media (max-width: 991.98px) {
  .sticky-form-wrapper {
    position: static; /* Disables the sticky effect on mobile */
    margin-bottom: 40px;
  }
}