.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #f4f7f600; */
}

.forgot-password-card {
  background: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.966);
  width: 100%;
  max-width: 400px;
}

.subtitle {
  color: #666;
  /* margin-bottom: 1.5rem; */
  font-size: 0.9rem;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
}

.input-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.primary-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.secondary-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  color: #0056b3;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.error-message {
  color: #d9534f;
  background-color: #fdf7f7;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.success-message {
  color: #5cb85c;
  background-color: #f4fbf5;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.back-btn{
    background-color: white;
    /* fill: #090f3d; */
    position: absolute;
    top: 10%;
    left: 10%;
}
.back-btn:hover{
    transform: translateX(-5px) scale(1.05);
    transition: all 0.2s ease-in-out;
}