.nav-link{
    border-left: 3px solid transparent;
    padding-left: 1.5rem !important;
}

.nav-link:hover{
    border-left: 3px solid #ffffff;
    padding-left: 2rem !important;
    font-weight: 600;
    transition: border-left 0.3s linear, all 0.3s ease;
}

.backBtn{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.backBtn svg:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.backBtn:hover{
    transform: scale(1.2);
    background-color: rgba(63, 81, 216, 0.116);
    transition: all 0.2s ease;
}