.nav-link{
    /* border-left: 1px solid white; */
    border-left: 3px solid transparent;
    /* padding-right: 1.5rem !important; */
    padding-left: 1.5rem !important;
}

.nav-link:hover{
    /* background-color: #f2f5fe !important;
    color: #065064 !important; */
    border-left: 3px solid #ffffff;
    padding-left: 2rem !important;
    font-weight: 600;
    /* background-color: #8f9cff70; */
    transition: border-left 0.3s linear, all 0.3s ease;
    /* color: #5266ff !important; */
}

.backBtn{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
    border: none;
}

.backBtn svg:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.backBtn:hover{
    transform: scale(1.2);
    background-color: rgba(63, 81, 216, 0.116);
    transition: all 0.2s ease;
}